

.accommodation{
	text-align:center;
	padding-top: 52px;
	
}
.accommodation_slider{
		list-style: none;
		padding: 24px 0 0;
		.slick-list li{
			background: #ffffff;
  			box-shadow: 0 0 15px 0 rgba(0, 60, 103, 0.1);
  			margin-right:20px;
  			padding:0 0 50px;
  			&:last-child{
  				margin-right:0;
  			}

  			img{
  				max-width:100%;
  				display:block;
  			}

  			h3{
  				font-size:18px;
  				color: $text-color-base;
  				position: relative;
  				margin: 29px 0 0;
			    text-transform: capitalize;
			    font-weight: bold;
  				&:after{
  					content: '';
  					position: absolute;
  					top: -52px;
  					left:48%;
  					width: 0; 
				    height: 0; 
				    border-left: 10px solid transparent;
				    border-right: 10px solid transparent;
				  	border-bottom: 10px solid #ffffff;
  				}
  			}
  			p{
  				color: $text-color-primary;
  				font-size: 14px;
  				margin: 0;
  				span{ 					
  					font-weight: bold;
  					color: $text-color-base;
  					display:block;
  					font-family: $font-family-secondary;
  				}
  			}
  			a{
  				border-radius: 100px;
  				background-color: #ff8900;
  				display:inline-block;
  				padding:10px 20px;
  				color:#ffffff;
  				font-size:13px;
  				margin: 20px 0 0;
  			}
		}
	}
	.slick-track {
		margin:auto;
		padding: 10px 5px;
	}
	.slick-dots {
		list-style: none;
		display: table;
		margin: 27px auto;
		position: relative;
		li{
			display:block;
			float:left;
			margin-right:10px;
			&:last-child{
				margin-right:0;
			}
			button{
				font-size:0;
				border:none;
				width:7px;
				height:7px;
				background: #5b5b74;
				opacity:0.5;
				border-radius:100px;
				padding:0;
			}
		}
		.slick-active{
			button{
				width:10px;
				height:10px;
				opacity:1;
			}
		}
	}
	.see-all{
		border: solid 1px #aaabae;
		display:inline-block;
		padding:10px 20px;
		text-align:center;
		text-transform: capitalize;
		color: $text-color-secondary;
		font-size: 13px;
		font-weight: bold;
		border-radius: 100px;
		margin: 34px 0 0;
	}
	.slick-arrow{
		border:none;
		color:#f2f5f7;
		background:none;
		width:17px;
		height:14px;
		position: absolute;
	}
	.slick-next{
		right: -42px;
    	top: 6px;

		 &.slick-disabled {
		 	&:before {
		 		opacity: 0.25;
		 	}
		 }
	}
	.slick-prev{
		-ms-transform: rotate(180deg); /* IE 9 */
	    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	    transform: rotate(180deg);
	    left: -50px;
    	top: 12px;

	    &.slick-disabled {
		 	&:before {
		 		opacity: 0.25;
		 	}
		}
	}
.nearby-places{
	max-width: $desktop-max-width;
	margin: 0 auto;
	text-align:center;
	padding: 0 0 59px;
	span{
		color: #aaabae;
		display:block;
		font-size:14px;
	}
	.accommodation_slider{
		padding: 29px 0 0;
	}
	.see-all{
		margin: 41px 0 0;
	}
}