.gallery{
	background: #2f3e63;
}

.gallery_container{
	max-width: $desktop-max-width;
	margin:0 auto;
	text-align:center;
	h2{
		color:#ffffff;
	}
	a{
		border-radius: 100px;
  		border: solid 1px #ffffff;
  		display: inline-block;
  		padding:10px 20px;
  		color:#ffffff;
  		font-size:13px;
  		font-weight: bold;
	}
}