.stage{	
	background: #f2f5f7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #f2f5f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #f2f5f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #f2f5f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #f2f5f7); /* Standard syntax */
}
.stage_container{
	background: url(../images/stage-image.png) no-repeat top center;
}
.stage_wrapper{
	max-width: $desktop-max-width;
	margin:0 auto;
	.stage_links{
		padding: 71px 0;
		ul{
			list-style: none;
			li{
				display: block;
				float:left;
				a{
					display:block;
					margin-right: 34px;					
					img{
						max-width:100%;
					}
				}
				&:last-child{
					a{
						margin-right:0;
					}
				}
			}
			.logo{
				margin: -16px 7px 0 17px;
			}
		}
	}
	.stage_content{
		max-width:547px;
		margin:0 auto;
		text-align:center;
		padding-top: 27px;
		h3{
			font-family: $font-family-secondary;
			font-size:22px;
			color:#ffffff;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top:18px;
				left:0;
				background: #ffffff;
				width: 155px;
				height:1px;
			}
			&:after{
				content: '';
				position: absolute;
				top:18px;
				right:0;
				background: #ffffff;
				width:155px;
				height:1px;
			}
			&:last-child{
				&:after{
					width:53px;
				}
				&:before{
					width:53px;
				}
			}
		}
		h1{
			margin: -3px 0 8px;
		}
	}
}