.tabs{
	background: #f2f5f7;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top:209px;
		left:0;
		width:100%;
		height:1px;
		background: #dddee0;
		@media (max-width: 767px) {
			display: none;
		}
	}
	h3{
		text-transform: capitalize;
	}
	.accommodation_slider{
		padding: 37px 0 0;
		@media (max-width: 767px) {
			padding: 20px 0 0;
		}
	}
	.accommodation_slider .slick-list li h3{
		margin: 22px 0 0;
		min-height: auto;
	}
	.accommodation_slider .slick-list li a{
		margin: 17px 0 0;
		border: solid 1px #aaabae;
		background: none;
		color: #7b7b85;
		font-weight: bold;
	}
	.accommodation_slider .slick-list li h3:after{
		top: -45px;
	}
	.tabs-list{
		margin: 0px;
		list-style: none;
		@media (max-width: 767px) {
			display:none;
		}
		li{
			color: $text-color-base;
			display: block;
			padding: 14px 0;
			cursor: pointer;
			float:left;
			width:18%;
			text-align:center;
			position: relative;
			font-size:18px;
			margin-right:23px;
			margin-top: 19px;
			@media (max-width: 960px) {
				margin-right:17px;
			}
			&:last-child{
				margin-right:0;
			}
			&.current,&:hover,&:focus{
				border-bottom: 5px solid #2f3e63;
			}
			h3{
				font-weight: bold !important;
			}
		}
	}
	.tab-content{
		clear:both;
		display:none;
	}
	.tab-content.current{
		display:block;
	}
	.tabs-wrap{
		position: relative;
	}
	.down-arrow{
		display:none;
		position: absolute;
		top: 20px;
    	right: 20px;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.tabs-select{
		display:none;
		background-color: #f2f5f7;
  		border: solid 1px #dddee0;
  		width: 100%;
    	padding: 15px 10px;
    	font-size:18px;
    	margin-top: 20px;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.tabs_container{
		max-width: $desktop-max-width;
		margin:0 auto;
		text-align:center;
		padding:50px 0;
		@media (max-width: 960px) {
	  		padding:50px 20px;
	  	}
	}
	h5{
		font-weight:400;
		font-size:14px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.open{
		color: #00da9e !important;
		font-weight:400 !important;
		font-size:12px;
	}
	.closed{
		color: #ff721b !important;
		font-weight:400 !important;
		font-size:12px;
	}
	.accommodation_slider .slick-list li p{
		line-height: 1.3;
	}
	.accommodation_slider .slick-list li h3{
		font-weight:bold;
	}
	.hotel-shop{
		.hotel-shop-image{
			float: left;
    		width: 41%;
    		margin: 50px 0 0 0;
    		img{
    			max-width:100%;
    			display:block;
    		}
    		@media (max-width: 767px) {
    			float:none;
    			width:100%;
    		}
		}
		.hotel-shop-content{
			float: right;
		    width: 56%;
		    margin: 41px 0 0;
		    text-align: left;
		    @media (max-width: 767px) {
    			float:none;
    			width:100%;
    		}
		    h3{
		    	color: #222d49;
		    	font-size: 18px;
  				font-weight: bold;
  				margin-top:0;
		    }
		    p{
		    	font-size:14px;
		    	font-family: $font-family-secondary;
		    	span{
		    		font-weight:bold;
		    	}
		    }
		    .shop-info{
	    		padding-bottom:20px;
	    		border-bottom:1px solid #dddee0;
	    	}
	    	.hotel-shop-disclaimer{
	    		color: #a2a6ae;
	    		font-family: $font-family-primary;
	    		font-size: 12px;
  				line-height: 1.42;
  				margin-top:20px;
  				span{
  					display: block;
				    width: 30px;
				    height: 30px;
				    border: 1px solid #a2a6ae;
				    border-radius: 100px;
				    padding: 5px 13px;
				    font-size: 14px;
				    float: left;
				    margin: 0 10px 0 0;
  				}
	    	}
		}
	}	
	.spa{
		.spa-slider{
			float: left;
    		width: 41%;
    		margin: 38px 0 0 0;
    		position:relative;
    		img{
    			max-width:100%;
    			display:block;
    		}
    		@media (max-width: 767px) {
    			float:none;
    			width:100%;
    		}
    		.custom_paging{
    			margin-top: 15px;
    			li{
    				display:none;
    				color: #2f3e63;   				
    			}
    			.slick-active{
    				display:block;
    			}
    		}
    		.slick-arrow{
				color: #2f3e63;
				top:auto;
				font-size:14px;
				&:before{
					font-size:10px !important;
				}
			}
			.slick-next{
				right: 0;
    			width: 85px;
    			bottom:10px;
    			&:before{
    				top: 4px;
    				position:absolute;
    				right:0;
    			}
    			&.slick-disabled {
				 	&:before {
				 		opacity: 0.25;
				 	}
				 }
			}
			.slick-prev{
				left: 0;
				bottom:10px;
				transform: none;
				width:100px;
				&:before{
					-ms-transform: rotate(180deg);
    				-webkit-transform: rotate(180deg);
    				transform: rotate(180deg);
    				top: 4px;
    				position:absolute;
    				left:0;
    			}
			}
		}
		.spa-content{
			float: right;
		    width: 56%;
		    margin: 41px 0 0;
		    text-align: left;
		    @media (max-width: 767px) {
    			float:none;
    			width:100%;
    		}
			h3{
		    	color: #222d49;
		    	font-size: 18px;
  				font-weight: bold;
  				margin-top:0;
		    }
		    p{
		    	font-size:14px;
		    }
		    .spa-info{
	    		padding-bottom:20px;
	    		border-bottom:1px solid #dddee0;
	    		font-family: $font-family-secondary;
	    	}
	    	a{
	    		display:inline-block;
	    		border-radius: 100px;
  				border: solid 1px #222d49;	
  				padding:10px 20px;
  				font-size: 13px;
  				font-weight: bold;
  				margin-top:15px;
	    	}
		}
	}
}