.tabs{
	.tabs-list{
		margin: 0px;
		padding: 0px;
		list-style: none;
		li{
			background: #ffe8be;
			color: $text-color-base;
			display: block;
			padding: 19px 0;
			cursor: pointer;
			float:left;
			width:23.4%;
			text-align:center;
			position: relative;
			margin-right:20px;
			&:last-child{
				margin-right:0;
			}
			i{
				margin: 0 7px 0 -17px;
			    position: relative;
			    top: -2px;

				@media (max-width: 950px) {
					margin: 0 3px -3px 0;
				}
			}
			span{
				background:#ffd25d;
				display:block;
				height:3px;
				opacity:0.4;
				position: absolute;
				width:100%;
				bottom:0;
				left:0;
			}
			&.current,&:hover,&:focus{
				background: #fff;
				position: relative;
				&:after{
					content: '';
				    width: 0;
				    height: 0;
				    border-left: 15px solid transparent;
				    border-right: 15px solid transparent;
				    border-top: 15px solid #ffd25d;
				    position: absolute;
				    bottom: -13px;
				    left: 43%;
				}
				span{
					opacity:1;
				}
			}
			@media (max-width: 950px) {
				width:22.8%;
			}
		}
	}
}