@import 'fonts';

//Font Families
$font-family-base : Lato;
$font-family-helvetica-thin: Helvetica Neue Thin;
$font-family-helvetica-light: Helvetica Neue Light;

//Text
$text-color-base: #232e48;
$text-color-primary: #ffffff;
$text-color-secondary: #7b7b85;

//Browser width
$desktop-max-width: 940px;