@import 'fonts';

//Font Families
$font-family-primary : PT-Sans;
$font-family-secondary : PT-Serif;


//Text
$text-color-base: #222d49;
$text-color-primary: #aaabae;
$text-color-secondary: #7b7b85;

//Browser width
$desktop-max-width: 940px;